.user-info__button-edit {
    margin-top: 24px;
    font-size: 12px;
    line-height: 14px;
}

.user-info__button-edit:hover {
    color: #000;
    background-color: #fff;
    border-radius: 3px;
}

@media screen and (max-width: 980px) {
    .user-info__button-edit {
        margin: 24px auto 0;
    }
  }